/cmd/web/web
/cmd/feeds/feeds
/cmd/migration/migration
/vendor
node_modules
web/app/schema.json
web/static/js/
web/static/css/
web/static/hashes.json
web/sql/data.sql
.env.local
.env.*.local
.private
web/proto/
internal/proto/
