/cmd/web/web
/cmd/feeds/feeds
/cmd/documents/documents
/cmd/migration/migration
/vendor
/taipan
node_modules
web/app/schema.json
web/app/bundler-profiler.json
web/app/yarn-error.log
web/static/js/
web/static/css/
web/static/hashes.json
web/sql/data.sql
.env.local
.env.*.local
.private
web/proto/
internal/proto/
