<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mickael Vieira - Bookmarks</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ .Styles }}">

  <script src="{{ .Vendor }}" defer></script>
  <script src="{{ .App }}" defer></script>
</head>

<body>
  <div class="root"></div>
</body>

</html>