<!DOCTYPE html>
<html lang="en">

<head>
  <title>Taipan - Bookmarking for busy people</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
  <meta name="description" content="Taipan - Bookmarking for busy people">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="msapplication-TileImage" content="{{ .BasePath }}/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#673ab7">
  <link rel="preconnect" href="{{ .CDN }}">
  <link rel="manifest" href="{{ .BasePath }}/manifest.json" crossorigin="use-credentials">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ .BasePath }}/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ .BasePath }}/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ .BasePath }}/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ .BasePath }}/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ .BasePath }}/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ .BasePath }}/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ .BasePath }}/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ .BasePath }}/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .BasePath }}/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ .BasePath }}/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .BasePath }}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ .BasePath }}/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .BasePath }}/img/favicon-16x16.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{range $file := .Assets.Styles}}
  <link rel="stylesheet" href="{{ $file }}">
  {{end}}
  <style type="text/css">
    html,
    body,
    .root {
      font-size: 14px;
      width: 100%;
      height: 100%;
    }

    @media (min-width: 960px) {
      html,
      body,
      .root {
        font-size: 16px;
      }
    }

    body {
      background-color: #eee
    }
  </style>
  {{range $file := .Assets.Scripts}}
  <script src="{{ $file }}" defer></script>
  {{end}}
</head>

<body>
  <div class="root">
    <noscript>Please enable Javascript to have access to our application</noscript>
  </div>
</body>
</html>