
:root {
    --white: #fff;
    --black: #000;
    --black-light: #333;
    --black-lighter: #161616;
    --black-lightest: #111;

    /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
    --native-font-family:           -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --text-color:                   #333;
    --base-font-family:             'Roboto', sans-serif;
    --base-font-weight:             300;
    --base-font-size-large-screen:  100%; // @TODO replace these with %
    --base-font-size-medium-screen: 95%;
    --base-font-size-small-screen:  100%;


    --page-bg: #fff;
    // --page-bg: #222a68;


    // --heading-color:       #111;
    --heading-font-family: 'Roboto', sans-serif;
    --heading-font-weight: 900;


    --green:         #6fa000;
    --red:           #f00;

    --dark-red:      #db0d0d;
    --darker-red:    #810000;

    --dark-blue:     #01579b;

    --gray-dark:     #292b2c;
    --gray:          #464a4c;
    --gray-light:    #636c72;
    --gray-lighter:  #eceeef;
    --gray-lightest: #f7f7f9;


    /* Application colors */
    --alto:         #e0e0e0;
    --grey-s:       #ddd;
    --cod-gray:     #0a0a0a;
    --alabaster:    #f7f7f7;
    --blue:         #0288d1;
    --dark-grey:    #292b2c;
    --light-grey:   #ccc;
    --dim-grey:     #666;
    --white-smoke:  #eee;
    --white-smoke2: #f0f0f0;
    --white-sand:   #f4f4f4;
    --gainsboro:    #e6e6e6;
    --nevada:       #636c72;
}

