@import 'variables';
@import 'reset/base';
@import 'reset/form';
@import 'skin/grid';
@import 'skin/loader';
@import 'skin/header';
@import 'skin/common';
@import 'skin/panel';
@import 'skin/filters';
// @import 'skin/wall';
@import 'skin/feed';
@import 'skin/form-login';
@import 'skin/form/add-bookmark';
@import 'skin/form/search-bookmark';
@import 'skin/bookmark';
@import 'skin/footer';
@import 'skin/breakpoints';

html {
  overflow: hidden;
  height:100%;
  margin: 0;
  padding: 0;

  &.contained {
    overflow: hidden;
  }
}

body {
  background-color: var(--page-bg);
  height:100%;
  margin: 0;
  padding: 0;
}

a.red {
  color: #c1012a;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: var(--black);
}

.connection {
  .online {
    color: var(--white);
  }

  .offline {
    color: var(--dim-grey);
  }
}

// test of message feedback
.bg {
  background: var(--darker-red);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;

  .message {
    color: var(--white);
    font-weight: 400;
    left: 0;
    margin: -80px auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 300px;

    .btn-confirm {
      background: var(--white);
      border-radius: 24px;
      color: var(--text-color);
      margin-top: 24px;
      outline: 0;
    }
  }
}

.btn-icon-circle {
  border-radius: 100%;
  font-weight: 200;
  height: 40px;
  line-height: 2.3rem;
  padding: 0;
  width: 40px;

  &:focus {
    outline: 1px dotted var(--black);
  }
}
