.bookmark {
  background-color: var(--black-lightest);
  display: none;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 0 100% 0;
  grid-template-rows: auto;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  z-index: 3;

  .bookmark-loader,
  .bookmark-container {
    background: var(--white);
    margin: 0;
    padding: 1rem;
    position: relative;
  }

  .bookmark-loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bookmark-info {
    clear: both;
    margin-top: 24px;

    h1 {
      font-size: 2rem;

      a {
        color: var(--black);
        text-decoration: none;

        &:hover  {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes slideButtonContainer {
  0% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bookmark-buttons-container {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--black-lightest);
  top: 0;
  left: 0;

  color: var(--white);
  background-color: var(--black-lightest);
  padding: 0 12px;
  margin: 0;
  box-shadow: 0 0 16px 0 rgba(11, 11, 11, 0.4);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  animation: slideButtonContainer .4s ease-in-out 0s 1;

  .btn-close {
    color: var(--white);
  }

  .link-source {
    color: var(--white);
    padding: .6rem .8rem;
  }
}

@keyframes slideInfoContainer {
  0% {
    transform: translate(0, 300px);
  }
  100% {
    transform: translate(0, 260px);
  }
}

.bookmark-info-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  color: var(--white);
  background-color: #c1012a;
  width: 100%;
  height: 300px;
  transform: translate(0, 260px);
  padding: 0 12px;
  margin: 0;
  left: 0;
  //border-top: 1px solid var(--black-lightest;
  //box-shadow: 0 0 16px 0 rgba(11, 11, 11, 0.4);
  //box-shadow: 0 0 16px 0 rgba(165, 161, 161, 0.4);
  box-shadow: 0 0 14px 0 rgba(193, 1, 43, 0.4);
  transition: transform .3s ease-in-out;
  animation: slideInfoContainer .4s ease-in-out 0s 1;

  a {
    text-decoration: none;
  }

  .btn-close {
    color: var(--white);
    align-self: flex-end;
    transform: rotate(0deg);
    transition: transform .3s ease-out;
  }
}

.bookmark-info-container-open {
  transform: translate(0, 0);

  .btn-close {
    transform: rotate(180deg);
  }
}

@keyframes showBookmarkContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bookmark-content {
  margin-top: 38px;
  margin-bottom: 40px;

  animation: showBookmarkContent .7s ease-in-out 0s 1;

  overflow: hidden;

  h1 {
    font-size: 2rem;

    strong {
      font-weight: 900;
    }
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: .8rem;
  }

  h6 {
    font-size: .6rem;
  }

  pre {
    background-color: var(--gray-lightest);
    display: block;
    overflow: visible;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  p {
    text-align: left;
  }
}
