// Small handset 380 >= w
@media screen and (min-width: 360px) {
}

// Medium handset 400 >= w
@media screen and (min-width: 400px) {
  .bookmark-dates {
    display: inline-block;
  }
}

// Large handset 600 >= w
@media screen and (min-width: 480px) {

}

// Small 600 >= w
@media screen and (min-width: 600px) {
  .add-bookmark-background {
    .add-bookmark-form-container {
      // width: 500px;
    }
  }

  .bookmark-entry {
    flex-direction: row;
  }

  .bookmark-image {
    margin-right: 12px;
    max-width: 50%;
  }

  .btn-action {
    i {
      margin-right: .4rem;
    }

    span {
      display: inline-block;
    }
  }
}

// Medium 960 >= w
@media screen and (min-width: 960px) {
  header,
  .app-grid {
    grid-template-columns: 15% 70% 15%;
  }

  .bookmark {
    grid-template-columns: 15% 70% 15%;
  }

  .form-login-container {
    height: 281px;
    width: 468px;
  }

  .add-bookmark-background {
    .add-bookmark-form-container {
      // width: 680px;
    }
  }

  .wall .items li {
    padding: 20px;
  }
}

// Large 1280 >= w
@media screen and (min-width: 1280px) {
  .form-login-container {
    height: 340px;
    width: 472px;
  }


  .wall .items li {
    padding: 24px;
  }
}

// Extra Large 1920 >= w
@media screen and (min-width: 1920px) {
}
