@keyframes slideDownDropdown {
  from {
    opacity: 0;
    transform: scaleY(0.75)
  }
}

.dropdown-container {
  position: relative;
  background-color: #fafafa;

  a {
    outline: 0;
  }
}

.dropdown-label {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.dropdown-list {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: #fafafa;
  z-index: 50;
  border-top: 1px solid #ebebeb;
  margin: 0;
  top: 0;
  min-width: 160px;
  box-shadow: 0 0 6px 0 rgba(11, 11, 11, 0.3);

  transform-origin: top center;

  li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #ebebeb;
    border-top: 0;
  }
}

.dropdown-container-list-visible {
  .dropdown-label-close {
    color: var(--white);
  }
  .dropdown-list {
    animation: slideDownDropdown 0.2s ease-in-out 0s 1;
    display: block;
  }
}

.dropdown-item {
  text-decoration: none;
  color: var(--text-color);
  padding: 12px 24px;
  display: block;

  &.active {
    font-weight: 500;
  }
}
