.feed {
  padding: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1;

  .items {
    margin: 0;
    padding: 0;

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      border-top: 1px solid #ebebeb;
      background-color: var(--white);
      padding: 12px 14px;

      &.active {
        opacity: 1;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.23);
        border: 1px solid #fafafa;

        .bookmark-block {
          transform: translate(0, -220px);
        }
      }

      &.inactive {
        opacity: .5;
      }
    }

    .read {
      // border-color: #ebebeb;
    }

    .unread {
      // border-color: rgba(17, 17, 17, 0.3);
    }
  }
}

.wall-fetching {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-more-container {
  text-align: center;

  .btn-more {
    border-radius: 6px;
  }
}

.bookmark-block {
  display: flex;
  flex-direction: column;
}

.bookmark-header {
  .domain-value {
    a {
      color: var(--black-lightest);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bookmark-footer {
  display: flex;
}

.bookmark-title {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.bookmark-entry {
  margin: 12px 0;

  .app-loader {
    width: 100%;
    height: 230px;
    background-color: var(--black-lightest);

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.bookmark-image {
  margin-bottom: 6px;
  background-color: var(--black-lightest);

  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    max-height: 230px;
    opacity: 0;
    transition: .4s opacity ease;

    &.active {
      opacity: 1;
    }
  }
}

.bookmark-description {
  margin: 14px 0 0;
  overflow: hidden;
}

.btn-action-container {
  flex-grow: 1;
  align-items: flex-start;
}

.btn-action {
  font-size: .9rem;
  margin-right: 12px;
  padding: .5rem .7rem;

  span {
    display: none;
  }
}
