.form-login-container {
  background-color: var(--white);
  border-radius: 2px;
  bottom: 0;
  height: 263px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 464px;
}

.form-login {
  display: block;
  margin: auto;
  max-width: 500px;
  padding: 2rem 2rem 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;

  .form-row,
  .form-action {
    display: flex;
    flex-direction: column;
    margin-top: .2rem;
  }

  .form-row {
    justify-content: flex-start;
  }

  .form-action {
    justify-content: flex-end;
  }

  .adjuster {
    margin-top: 1rem;
  }

  label {
    font-weight: 500;
    padding: .4rem 0;
  }

  input {
    &[type='text'],
    &[type='password'] {
      flex-grow: 1;
      font-size: 16px;

      &:focus {
        box-shadow: 1px 1px 15px 0 rgba(#0a0a0a, .28);
      }
    }
  }

  .form-feedback {
    display: none;
    font-style: italic;

    &.visible {
      display: inline-block;
    }
  }

  .link-forgot-password {
    display: inline-block;
    float: right;
    font-size: 15px;
    margin-top: 11px;
    text-decoration: none;
  }

  .btn-login {
    font-weight: 500;
    margin-top: 1rem;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s, color .3s;

    &:active,
    &:focus {
      background: var(--dark-red);
      border-color: var(--dark-red);
      color: var(--white);
      outline: 0;
    }
  }
}
