.app-grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 0 100% 0;
  grid-template-rows: auto;
  flex: 1;
  position: relative;
}

.col {
  align-self: stretch;
}
