.app-header {
  background-color: var(--black-lightest);
  box-shadow: 0 0 16px 0 rgba(11, 11, 11, 0.4);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .btn-logout,
  .btn-home,
  .btn-add-bookmark {
    display: inline-block;
    line-height: 1;
    padding: .9rem;
    text-decoration: none;
    color: var(--green);
    font-size: 20px;
  }

  .btn-add-bookmark {
    border: 0;
  }
}
