.wall {
  min-height: 700px;
  padding: 0;

  .items {
    clear: left;
    margin: 24px 0;
    padding: 0;

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      border-top: 1px solid #ebebeb;
      background-color: var(--white);
      padding: 14px 18px 18px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);

      &.active {
        opacity: 1;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.23);
        border: 1px solid #fafafa;

        .bookmark-block {
          transform: translate(0, -220px);
        }
      }

      &.inactive {
        opacity: .5;
      }
    }

    .read {
      border-color: #ebebeb;
    }

    .unread {
      border-color: rgba(17, 17, 17, 0.3);
    }
  }
}

.wall-fetching {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-more-container {
  text-align: center;

  .btn-more {
    border-radius: 6px;
  }
}

.bookmark-block {
  display: flex;
  flex-direction: column;
  //transform: translate(0, 0);
  //margin-bottom: 12px;
  //transition: transform .5s ease-out;
  //height: 100%;
}

.bookmark-footer,
.bookmark-header {
  flex-grow: 1;
}

.bookmark-footer {
  display: flex;
}

.bookmark-title {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.bookmark-entry {
  display: flex;
  flex-direction: column-reverse;
  margin: 12px 0;
}

.bookmark-image {
  margin-bottom: 6px;
  border: 1px dashed #ccc;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bookmark-description {
  margin-bottom: 12px;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.btn-action-container {
  flex-grow: 1;
  align-items: flex-start;
}

.bookmark-dates {
  flex-grow: 1;
  display: none;
  text-align: right;
}

.btn-action {
  font-size: .9rem;
  margin-right: 12px;
  padding: .5rem .7rem;

  span {
    display: none;
  }
}
